body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

#header {
  width: 100%;
  min-height: 60px;
  background-color: azure;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  min-height: 5vh;
  align-content: center;
}

 #header > div {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #aaa;
  /* max-width: calc(10.3333% - 2rem);
  min-width: calc(10.3333% - 2rem); */
} 

#header > .logo {
  /*border: none;*/
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: calc(15.3333% - 2rem);
  min-width: calc(15.3333% - 2rem);
}

.navigation {
    /* width: 100%; */
    min-width: calc(40.3333% - 2rem);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  
  .navigation > div {
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #aaa;
    max-width: calc(50.3333% - 2rem);
    min-width: calc(20.3333% - 2rem);
  }

#welcome {
  width: 100%;
  background-color: lavender;

  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
  min-height: 30vh;
  align-content: center;
}

#welcome > div {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #aaa;
  max-width: calc(33.3333% - 2rem);
  min-width: calc(33.3333% - 2rem);
}

#welcome > div:nth-child(1) {
  order: 5;
}

#testimonial_area {
  width: 100%;
  background-color: midnightblue;
  color: mintcream;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 20vh;
  align-content: center;
}

#testimonial_area > div {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #aaa;
  max-width: calc(20.3333% - 2rem);
  min-width: calc(20.3333% - 2rem);
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-device-width: 240px) and (max-device-width: 800px) {
  #welcome {
    flex-flow: column-reverse wrap;
  }

  #welcome > div {
    max-width: calc(66.6666% - 2rem);
  }

  #welcome > div:nth-child(1) {
    order: 1;
  }

  #testimonial_area {
    flex-flow: column;
  }

  #testimonial_area > div {
    max-width: 100%;
    margin: 0;
  }

  #header{
      flex-flow:column;
      align-items: center;
  }

  #header > div{
    width: 100%;
}

  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    flex-flow: column;
    align-items: center;
  }

  .navigation > div{
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    width: 100%;
  }
}

#content_area {
  width: 100%;
  background-color: lavender;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 30vh;
  align-content: center;
}


#footer {
    width: 100%;
    background-color: lavender;
  
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 30vh;
    align-content: center;
  }